header{
  display: flex;
    justify-content: center space-around;
    background-color: skyblue;
}
h1{
  font-family: 'Indie Flower', cursive;
  flex-wrap: wrap;
  display: flex;
  /*justify-content: center;*/
  font-size: 1.7em;
}

#img{
  width: 80%;
  display: flex;
  background-color: silver;
  height: auto;
  display: flex;
  justify-content: center space-around;
  margin-left: 10%;


}
img{
  width: 5em;
  height: 5em;
  flex-wrap: wrap;
  justify-content: space-around;


}
#ordi{
  width: 80%;
  height: 90px;
  background-color: skyblue;
  margin-top: 10px;
  justify-content: center space-around;
  margin-left: 10%;
}
#adv{
  margin-left: 35%;
  padding-top: 2%;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content:  center space-between;
  width: 100%;
  height: 100px;
  background-color: silver;
  margin: 10px auto;
  padding-left: 10%;
}
  .computer {
    margin-left: 10%;
}
.computer {
margin-right: 25%;
}
