html body{

  background: url(../img/background.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;



}
body{
  display: flex;
  /*justify-content: center;*/
  height: auto;
}
.boutton{
  position: relative;
  justify-content: center;
}
  p {
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding:4px;
    text-align: center;
    opacity: 0.4;


    }
a{
  text-decoration: none;
  color: red;
}
